{% if page.active == "home" %}
<li class="active"><a href="/">Home</a></li>
{% else %}
<li><a href="/">Home</a></li>
{% endif %}
{% if page.active == "farm2023" %}
<li class="active"><a href="/2023/">FARM 2023</a></li>
{% endif %}
{% if page.active == "farm2024" %}
<li class="active"><a href="/2024/">FARM 2024</a></li>
{% else %}
<li><a href="/2024/">FARM 2024</a></li>
{% endif %}
{% if page.active == "farm2019" %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">FARM 2019 <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2019/">Home</a></li>
    <li><a href="/2019/performance.html">Performance Evening</a></li>
  </ul>
</li>
{% endif %}
{% if page.active == "farm2018" %}
<li class="active"><a href="/2018/">FARM 2018</a></li>
{% endif %}
{% if page.active == "farm2017" %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">FARM 2017 <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2017/">Home</a></li>
    <li><a href="/2017/performance.html">Performance Evening</a></li>
  </ul>
</li>
{% endif %}
{% if page.active == "farm2016" %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">FARM 2016 <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2016/">Home</a></li>
    <li><a href="/2016/performance.html">Performance Evening</a></li>
  </ul>
</li>
{% endif %}
{% if page.active == "farm2015" %}
<li class="active"><a href="/2015/">FARM 2015</a></li>
{% endif %}
{% if page.active == "farm2014" %}
<li class="active"><a href="/2014/">FARM 2014</a></li>
{% endif %}
{% if page.active == "farm2013" %}
<li class="active"><a href="/2013/">FARM 2013</a></li>
{% endif %}
{% if page.active == "sc" %}
<li class="active"><a href="/sc.html">Steering Committee</a></li>
{% else %}
<li><a href="/sc.html">Steering Committee</a></li>
{% endif %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">Past Workshops <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2023/">2023</a></li>
    <li><a href="/2022/">2022</a></li>
    <li><a href="/2021/">2021</a></li>
    <li><a href="/2020/">2020</a></li>
    <li><a href="/2019/">2019</a></li>
    <li><a href="/2018/">2018</a></li>
    <li><a href="/2017/">2017</a></li>
    <li><a href="/2016/">2016</a></li>
    <li><a href="/2015/">2015</a></li>
    <li><a href="/2014/">2014</a></li>
    <li><a href="/2013/">2013</a></li>
  </ul>
</li>
