{% if page.active == "home" %}
<li class="active"><a href="/">Home</a></li>
{% else %}
<li><a href="/">Home</a></li>
{% endif %}
{% if page.active == "farm2017" %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">FARM 2017 <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2017/">Home</a></li>
    <li><a href="/2017/performance.html">Performance Evening</a></li>
  </ul>
</li>
{% else %}
<li><a href="/2017/">FARM 2017</a></li>
{% endif %}
{% if page.active == "sc" %}
<li class="active"><a href="/sc.html">Steering Committee</a></li>
{% else %}
<li><a href="/sc.html">Steering Committee</a></li>
{% endif %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle"
  data-toggle="dropdown">Past Workshops <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/2016/">2016</a></li>
    <li><a href="/2015/">2015</a></li>
    <li><a href="/2014/">2014</a></li>
    <li><a href="/2013/">2013</a></li>
  </ul>
</li>
